@import "~src/assets/less/var.less";
@item-height: 40px; /* 单行歌词高度 */

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.lyric {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #eee;
  transform: translateY(200%);
  transition: transform .3s ease;
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(200px);
  }
  .content {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 50px 10%;
    height: 100%;
    > i {
      position: absolute;
      left: 30px;
      top: 30px;
      font-size: 24px;
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
    }
    .cover {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      animation: rotate 10s linear infinite;
    }
    .wrapper {
      flex: 1 1 auto;
      height: 60%;
      overflow: hidden;
      text-align: center;
    }
    .lyric-show {
      transition: transform .3s;
      /* transform: translateY(-30px); */
      p {
        height: @item-height;
        line-height: @item-height;
        margin: 0;
        padding: 0;
        font-size: 16px;
        &.active {
          color: @primary-color;
        }
      }
    }
  }
}