.songlist {
  .ant-list-item-extra-wrap {
    &:hover {
      .ant-list-item-extra {
        opacity: 1;
      }
      .play {
        transform: scale(1);
      }
    }
  }
  .ant-list-item-extra {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 54px;
    background-color: rgba(204, 204, 204, 0.3);
    color: #f9f9f9;
    transition: opacity .3s ease;
    .play {
      cursor: pointer;
      transform: scale(0);
      transition: transform .3s ease;
    }
  }
}